<ngx-atlant-content-generic-box>
    <div class="static-container" static-zone>
      <div class="img-container">
        <img src="assets/professional-experience/allfunds-logo.jpg" alt="" width="50%">
      </div>
      <ngx-atlant-title-subtitle
        title="Desarrollador full-stack Mean"
        subtitle="oct 2022 - mar 2023"
      >
      </ngx-atlant-title-subtitle>
    </div>
    <div class="scroll-zone" scroll-zone>
      <h3>Tareas realizadas</h3>
      <ul scroll-zone>
        <li>Desarrollo de nuevas herramientas y funcionalidades (Desde front hacia back).</li>
        <li>Administración de bases de datos no relacionales (MongoDB).</li>
        <li>Despliegues a servidor utilizando protoclos sftp o ftp. Gestión de ficheros, permisos, certificados shh, etc desde el protocolo SSH desde un servidor. Dockerización de ciertas aplicaciones Nodejs.</li>
        <li>Resolución de incidencias reportada por cliente y gestión a través de Jira.</li>
        <li>Implementación de operaciones CRUD en emails con sistema de autenticación OAUTH2.0 y la API de Microsoft Graph.</li>
        <li>Migraciones de aplicaciones de versiones antiguas de Nodejs a versiones más modernas de Nodejs. Por ejemplo, de versión 4 a versión 18, etc.</li>
        <li>Audición y arreglo de vulnerabilidades de proyectos, optimización de sintaxis para librerías nuevas, subida de versiones de librería y control de dependencias, etc.</li>
        <li>Scripts tanto de automatización de procesos CRUD sobre base de datos, como de otras tareas como generación de pdfs, Envíos de correos automáticos, etc.</li>
        <li>Trabajo diario con el shell de una distribución UNIX.</li>
      </ul>
    </div>
</ngx-atlant-content-generic-box>

