<div class="d-content">
  <div class="welcome-container appear-after-slide">
    <div class="image-container">
      <img *ngIf="!logoBright" class="logo-image" src="/assets/atlantia-logo-white.png" alt="" [@fadeAnimation]>
      <img *ngIf="logoBright" class="logo-image" src="/assets/atlantia-logo-white-ligth.png" alt="" [@fadeAnimation]>
      <button
        class='neon-btn'
        (mouseenter)="logoBright = true"
        (mouseleave)="logoBright = false"
      >
        Cuentame más
      </button>
    </div>
  </div>
</div>


<!-- <span class='glowing-txt'>Quiero<span class='faulty-letter'>L</span>saber más</span> -->
<!-- 
  <p>
      Atlantia proporciona un espacio para iniciarse en el mundo 
      de la inteligencia artificial, desde un nivel de 
      principiante a un nivel avanzado, buscando la armonía entre 
      teoría y práctica y con la finalidad  de que los programadores y tecnólogos
      puedan adaptarse con mayor facilidad a la irrupción de esta
      tecnología en el mundo actual.
    </p>
 -->