<div content class="d-content" style="display: flex;align-items: center; justify-content: center; height: 100%; flex-direction: column;">
    <div class="appear-smothly" style="display: flex;align-items: center; justify-content: center; flex-direction: column;">
      <img src="/assets/atlantia-logo-white.png" alt="">
      <h1 style="font-size: 5.75rem; color:white">ATLANTIA</h1>
      <p style="font-size: 1.2rem; color:white">Donde la tecnología y el ser humano se unen para crear progreso</p>
    </div>
  </div>