<div class="img-container">
  <img src="assets/atlantia-logo.png" alt="Logotipo de atlantia technology">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</div>

<ngx-atlant-dinamic-nav-bar></ngx-atlant-dinamic-nav-bar>

<!-- <div class="d-flex f-gap-2 buttons-line">
  <button class="general-btn">Sobre el autor</button>
  <button class="general-btn">Apolo project</button>
  <button class="general-btn">Hermes project</button>
  <button class="general-btn">Stack tecnológico</button>
</div>
<div class="welcome-text">
  <h2 style="margin-bottom: .5rem; font-weight: bold; text-align: center;">¡Bienvenidos a Atlantia!</h2>
  <p>Atlantia es un espacio creado para ofrecer recursos y contenido sobre inteligencia artificial.</p>
</div> -->
 