<div class="container">
    <div class="left-side">
        <div class="content">
            <h2>Acerca del autor</h2>
            <p>
                ¡Hola! Soy Michael, el creador de Atlantia.
                 Esta sección está diseñada para que puedas conocerme a nivel profesional y personal.
                 Si buscas un candidato altamente cualificado y comprometido, estás en el lugar adecuado.
                 Navegando por esta sección podrás apreciar mi potencial y lo que puedo aportar a tu empresa.
            </p>
            <button class="generic-btn">Cuentame más</button>
        </div>
    </div>
    <div class="right-side">
    </div>
</div>